In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
data=pd.read_csv('/content/drive/MyDrive/onehot.csv')

In [ ]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
c=ColumnTransformer(transformers=[('encoder',OneHotEncoder(),[1,2,4])],remainder='passthrough')
dataa=c.fit_transform(data)
dataa

array([[0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0,
        'M', 60],
       [0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0,
        'F', 58],
       [0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 1.0, 0.0,
        'M', 60],
       [0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 1.0, 1.0, 0.0, 0.0,
        'F', 61],
       [0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 1.0, 0.0,
        'F', 57],
       [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 1.0, 1.0, 0.0, 0.0,
        'F', 65],
       [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 1.0, 0.0, 0.0, 1.0,
        'M', 67],
       [0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0,
        'M', 66],
       [0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0,
        'F', 55],
       [1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0,
        'M', 54]], dtype=object)

In [ ]:
import pandas as pd
update_data=pd.read_csv('/content/drive/MyDrive/onehot.csv')
y=update_data.iloc[:,2]
first_x=update_data.iloc[:,0:2]
last_x=update_data.iloc[:,3:]
combine_first_last=pd.concat([first_x,last_x],axis=1)
combine_first_last

  Sex  Age  weight  height
0   M   25      60   Small
1   F   25      58   Small
2   M   30      60  Medium
3   F   30      61   Large
4   F   28      57  Medium
5   F   32      65   Large
6   M   35      67   Small
7   M   31      66   Small
8   F   26      55   Small
9   M   22      54   Small